<div class="modal-header">
    <h4 class="modal-title pull-left">Delete Confirmation</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>Are you sure you want to delete {{ item }}?</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="confirmDeleteClick()">Yes, I want to</button>
    <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">No, I don't want to</button>
</div>